/* ELEMENTS CONTROL */

html, body, #container {
  margin: 0px;
  background-color: #000000;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 20px;
  color: #4475B8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#videoPlayer {
  width: 50%;
  height: 50%;
}

/* CLASSES CONTROL */

.mainCard {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.error {
  color: #FF3838;
}

.message {
  display: none;
}

.margin {
  margin: 20px;
}

.card {
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: #4475B8;
  color: #FFFFFF;
  font-size: 20px;
}

.card:hover {
  background-color: #1662CE;
  cursor: pointer;
}

/* FORM ITEMS */

input[type="text"] {
  border-radius: 5px;
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

button {
  border-radius: 10px;
  border: none;
  background-color: #4475B8;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

button:hover {
  background-color: #1662CE;
  cursor: pointer;
}

/* SCROLLING */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #4475B8;
}

::-webkit-scrollbar-thumb:hover {
  background: #1662CE;
}